@using Entity
@model List<Question>
@{
    ViewBag.Title = "GetQuestions";
}

<div id="fh5co-blog">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#"><img class="img-responsive" src="@item.ThumbnailURL" alt=""></a>
                        <div class="blog-text">
                            <h3>@item.QuestionContent</h3>

                            <p>
                                Cevaplamak için
                                <span>
                                    @Html.ActionLink("tıklayın", "CreateAnswer", "Answers", new { @questionid = item.Id }, new { @style = "color:oranged" })
                                </span>
                            </p>

                            <div class="row">
                                @if (item.PersonId == ViewBag.Person)
                                {
                                    <div class="comment col-md-6 text-left "><i class="far fa-trash-alt"></i></div>
                                }

                                <div class="comment colmd-6 text-right "><a href="/Answers/GetAnswers/@item.Id"><i class="far fa-comment-alt"></i>@item.Answers.Count</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
