@using Entity
@model List<Question>
@{
    ViewBag.Title = "GetQuestions";
}

<h2>GetQuestions</h2>

<div id="fh5co-blog">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#"><img class="img-responsive" src="~/Content/Theme/images/project-4.jpg" alt=""></a>
                        <div class="blog-text">
                            <h3>@item.QuestionContent</h3>

                            @*<p>
                                @item.CategoryName ile ilgili soruları görmek için
                                <span>
                                    @Html.ActionLink("tıklayın", "GetQuestions", "Questions", new { @catid = item.Id }, new { @style = "color:oranged" })
                                </span>
                            </p>

                            <p class="comment text-right"><a href="#"><i class="fas fa-question-circle"></i> @item.Questions.Count</a></p>*@

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
